// BigQueryService.java
import com.google.cloud.bigquery.BigQuery;
import com.google.cloud.bigquery.BigQueryOptions;
import com.google.cloud.bigquery.QueryJobConfiguration;
import com.google.cloud.bigquery.TableResult;
import org.springframework.stereotype.Service;
import reactor.core.publisher.Flux;

@Service
public class BigQueryService {

    public Flux<Object> executeQuery(String sqlQuery) {
        BigQuery bigQuery = BigQueryOptions.getDefaultInstance().getService();
        QueryJobConfiguration queryConfig = QueryJobConfiguration.newBuilder(sqlQuery).build();
        TableResult result = bigQuery.query(queryConfig);

        return Flux.fromIterable(result.iterateAll());
    }
}
